# Python cache
*.pyc
__pycache__

#db.sqlite3 won't be used in production, PostgreSQL instead
*.sqlite3

# Environemntal variables
/env
*.env

# Visual Studio Code specific files
.vscode

env
static
db.sqlite3